
.profile__description {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 779px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

