
.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background-image: url('./../../../images/edit-button.svg');
  background-color: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 0;
  align-self: end;

}

@media screen and (max-width: 779px) {
	.profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    justify-self: end;

	}
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: 2s;
  cursor: pointer;
}
