
.footer {
  width: 68.75%;
  margin: 0 auto; /* to do: марджины убрать из блоков; */
}

@media screen and (min-width: 1280px) {
	.footer {
		max-width: 880px;
	}
}

@media screen and (max-width: 779px) {
  .footer {
    width: 90%;
  }
}
