.element {
    background-color: #FFFFFF;
    margin: 0;
    border-radius: 10px;
    position: relative;
}

@media screen and (min-width: 700px) and (max-width: 779px) {
    .element {
        width: 282px;
    }
}

@media screen and (max-width: 699px) {
    .element {
        width: 282px;
        margin-bottom: 20px;
    }
    .element:last-of-type {
        margin-bottom: 0;
    }
}
